# Data
data/
*.wav

# Models (optional to ignore, but ignoring the heavy keras model)
model/*.h5

# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# Backend
backend/.env
backend/*.db
backend/vocalvitals.db

